<a href="https://colab.research.google.com/github/MarkusDarkus/Data_Analytics/blob/Test_tasks/bank_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# заполнить пропуски в данных

In [22]:
# Install postgresql server
!sudo apt-get -y -qq update
!sudo apt-get -y -qq install postgresql
!sudo service postgresql start

# Setup a password `postgres` for username `postgres`
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'postgres';"

 * Starting PostgreSQL 12 database server
   ...done.
ALTER ROLE

In [23]:
from sqlalchemy import create_engine
con = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/postgres')

In [24]:
import pandas as pd
import numpy as np

In [25]:
def select(sql):
  return pd.read_sql(sql,con)

In [26]:
table = '''1 | 14.04.2020 | 10000
1 | 15.04.2020 | 5000
1 | 16.04.2020 | NaN
1 | 17.04.2020 | NaN
1 | 18.04.2020 | NaN
2 | 14.04.2020 | 250000
2 | 15.04.2020 | 250000
2 | 16.04.2020 | 230000
2 | 17.04.2020 | 230000
2 | 18.04.2020 | 225000
3 | 14.04.2020 | 50000
3 | 15.04.2020 | NaN
3 | 16.04.2020 | NaN
3 | 17.04.2020 | NaN
3 | 18.04.2020 | NaN'''

In [27]:
df = pd.DataFrame([row.replace(' ','').split('|') for row in table.split('\n')])

In [28]:
'client_id | date | value'.split(' | ')
df.columns = ['client_id', 'dt', 'val']
df

   client_id          dt     val
0          1  14.04.2020   10000
1          1  15.04.2020    5000
2          1  16.04.2020     NaN
3          1  17.04.2020     NaN
4          1  18.04.2020     NaN
5          2  14.04.2020  250000
6          2  15.04.2020  250000
7          2  16.04.2020  230000
8          2  17.04.2020  230000
9          2  18.04.2020  225000
10         3  14.04.2020   50000
11         3  15.04.2020     NaN
12         3  16.04.2020     NaN
13         3  17.04.2020     NaN
14         3  18.04.2020     NaN

In [29]:
df["dt"]=pd.to_datetime(df["dt"],format='%d.%m.%Y')
df["val"]=df["val"].astype("float")
df["client_id"]=df["client_id"].astype("int")

In [30]:
df.dtypes

client_id             int64
dt           datetime64[ns]
val                 float64
dtype: object

In [31]:
df.to_sql('task_1', con, index=False, if_exists='replace', method='multi')

15

In [32]:
sql='''select * from task_1'''

In [36]:
df.ffill()

    client_id         dt       val
0           1 2020-04-14   10000.0
1           1 2020-04-15    5000.0
2           1 2020-04-16    5000.0
3           1 2020-04-17    5000.0
4           1 2020-04-18    5000.0
5           2 2020-04-14  250000.0
6           2 2020-04-15  250000.0
7           2 2020-04-16  230000.0
8           2 2020-04-17  230000.0
9           2 2020-04-18  225000.0
10          3 2020-04-14   50000.0
11          3 2020-04-15   50000.0
12          3 2020-04-16   50000.0
13          3 2020-04-17   50000.0
14          3 2020-04-18   50000.0