<a href="https://colab.research.google.com/github/MarkusDarkus/Data_Analytics/blob/main/DnD_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Classification of race

In [36]:
import numpy as np
import pandas as pd
import sklearn

In [37]:
data=pd.read_csv("/content/stats.csv")

In [38]:
data.race.value_counts()

dragonborn    1144
halfling      1135
gnome         1121
human         1120
tiefling      1120
elf           1112
dwarf         1095
half.elf      1086
half.orc      1067
Name: race, dtype: int64

In [39]:
from tables import Column
data_new=pd.get_dummies(data, columns=["race"])
data.race.unique()

array(['dragonborn', 'dwarf', 'elf', 'gnome', 'half.elf', 'half.orc',
       'halfling', 'human', 'tiefling'], dtype=object)

In [40]:
data.race=data.race.replace("dragonborn",0)
data.race=data.race.replace("dwarf",1)
data.race=data.race.replace("elf",2)
data.race=data.race.replace("gnome",3)
data.race=data.race.replace("half.elf",4)
data.race=data.race.replace("half.orc",5)
data.race=data.race.replace("halfling",6)
data.race=data.race.replace("human",7)
data.race=data.race.replace("tiefling",8)
data

,race,height,weight,speed,strength,dexterity,constitution,intelligence,wisdom,charisma
0,0,79,279,30,14,15,12,7,13,16
1,0,79,331,30,11,11,11,13,13,17
2,0,71,230,30,14,16,11,13,10,18
3,0,75,265,30,8,19,7,10,13,16
4,0,72,229,30,8,17,14,14,10,9
...,...,...,...,...,...,...,...,...,...,...
9995,8,63,146,30,13,18,17,13,15,13
9996,8,72,230,30,8,14,13,6,14,20
9997,8,66,137,30,4,5,16,12,12,15
9998,8,68,143,30,12,16,12,15,9,16
9999,8,70,201,30,16,17,15,12,13,13

In [41]:
y=data.race
X=data.drop(columns=["race"])

# Data Preprocessing

In [42]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import f1_score,recall_score, precision_score, precision_recall_fscore_support

scaler=StandardScaler()
scaler.fit_transform(X)

X_train,X_test, y_train, y_test= train_test_split(X,y, random_state=42,test_size=0.2)

# Logistic Regression - 0.62 f1

In [47]:
model=LogisticRegression()
model.fit(X_train, y_train)
y_pred=model.predict(X_test)


print(f" f1 ------>>>{f1_score(y_test, y_pred, average='macro')}")
print(f" f1 ------>>>{f1_score(y_test, y_pred, average='micro')}")

 f1 ------>>>0.615528899024444
 f1 ------>>>0.623

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

# Random Forest - 0.66 f1

In [53]:
from sklearn.ensemble import RandomForestClassifier
model_forest=RandomForestClassifier(n_estimators=1000)
model_forest.fit(X_train, y_train)
y_pred=model_forest.predict(X_test)
print(f" f1 ------>>>{f1_score(y_test, y_pred, average='macro')}")
print(f" f1 ------>>>{f1_score(y_test, y_pred, average='micro')}")

 f1 ------>>>0.6590347660822774
 f1 ------>>>0.665

In [54]:
#!pip install catboost

Collecting catboost
  Downloading catboost-1.2-cp310-cp310-manylinux2014_x86_64.whl (98.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 98.6/98.6 MB 2.1 MB/s eta 0:00:00
Requirement already satisfied: graphviz in /usr/local/lib/python3.10/dist-packages (from catboost) (0.20.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from catboost) (3.7.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from catboost) (1.22.4)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.10/dist-packages (from catboost) (1.5.3)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from catboost) (1.10.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.10/dist-packages (from catboost) (5.13.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from catboost) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24->catboost) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24->catboost) (2022.7.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (4.40.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (8.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (3.1.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from plotly->catboost) (8.2.2)
Installing collected packages: catboost
Successfully installed catboost-1.2

# CatBoost - 0.7 f1

In [58]:
import catboost
from catboost import CatBoostClassifier
cb_reg_1 = CatBoostClassifier(random_seed=14, verbose=300)
cb_reg_1.fit(X_train, y_train)
y_pred = cb_reg_1.predict(X_test)

# calculate mean squared error on val sub-set preds

print(f" f1 ------>>>{f1_score(y_test, y_pred, average='macro')}")
print(f" f1 ------>>>{f1_score(y_test, y_pred, average='micro')}")

Learning rate set to 0.087979
0:	learn: 1.9327368	total: 10ms	remaining: 10s
300:	learn: 0.6224372	total: 2.9s	remaining: 6.73s
600:	learn: 0.4792258	total: 7.38s	remaining: 4.9s
900:	learn: 0.3789849	total: 10.4s	remaining: 1.14s
999:	learn: 0.3515764	total: 11.4s	remaining: 0us
 f1 ------>>>0.7024378755316942
 f1 ------>>>0.707